<div class="navbar bg-base-100 justify-end">

  <div>
    <ul class="menu menu-horizontal">
      <li class="nav-item"><a routerLink="">About Me</a></li>
      <li class="nav-item"><a routerLink="/projects">Projects</a></li>
      <li class="nav-item" *ngIf="theme === 'light'">
        <a href="https://github.com/peternuyn" target="_blank" class="github-link">
          <img src="../../assets/images/github-mark.svg" alt="GitHub Logo" class="h-7 w-7">
        </a>
      </li>
      <li class="nav-item" *ngIf="theme !== 'light'">
        <a href="https://github.com/peternuyn" target="_blank" class="github-link">
          <img src="../../assets/images/github-mark-white.png" alt="GitHub Logo" class="h-7 w-7">
        </a>
      </li>
      <li class="nav-item justify-end">
        <a>
          <input type="checkbox" value="synthwave" class="toggle theme-controller" (change)="toggleTheme()" />
        </a>
      </li>
    </ul>
  </div>
</div>
