<div class="about-container p-9">
  <h1 class="font-bold text-5xl font-mono">{{ name }}</h1>
  <h2 class="font-mono my-2 mb-5">{{ title }}</h2>
  <img
    src="assets/images/IMG_0755.jpg"
    alt="profile"
    class="w-1/4 h-1/4 mt-5 border my-5">

  <h2 class="mt-7 mb-3 text-3xl font-semibold">About Me</h2>
  <p class="text-lg tracking-wider leading-relaxed">
    I am a first year student at the University of Queensland studying Software
    Engineering. I am passionate about software and web development, and I am always looking for ways
    to learn more about it. I also have a passion for teaching and currently
    working as a Math/ Physics Tutor at
    <a
      href="https://www.atar.academy/home"  
      target="_blank"
      class="hover-text text-blue-500 underline"
      >Atar Academy</a
    >. <br />In my spare time, I love to go for a run with
    <a
      href="https://www.nunurunclub.com"
      target="_blank"
      class="hover-text text-blue-500 underline"
      >Nunu Run Club</a
    >. <br />
    I am forever working on my projects and I am always looking for ways to
    improve my skills, explore
    <a
      routerLink="/projects"
      class="hover-text text-blue-500 underline"
      >my projects</a
    >
  </p>

  <h3 class="text-3xl font-bold my-8">Contact</h3>
  <p class="text-lg tracking-wider leading-relaxed">
    Feel free to reach out to me via email at 
    <a href="mailto:vietthanh0120@.com" class="hover-text text-blue-500 underline">my gmail</a>
    or connect with me on 
    <a href="https://www.linkedin.com/in/peternguyen2005/" target="_blank" class="hover-text text-blue-500 underline">LinkedIn</a>
  </p>
  <h3 class="text-3xl font-bold my-8">Others</h3>

</div>


